<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <extensions>
      <bindingElementExtensions>
        <add name="wcfCompressMessageEncoding" type="WcfCompressMessageEncoder.WcfCompressMessageEncodingElement, WcfCompressMessageEncoder" />
      </bindingElementExtensions>
    </extensions>

    <bindings>
      <wsHttpBinding>
        <binding name="WsHttpBinding" closeTimeout="05:00:00" openTimeout="05:00:00" sendTimeout="05:00:00" receiveTimeout="05:00:00" maxReceivedMessageSize="655360000">
          <!--reliableSession inactivityTimeout="00:10:00" enabled="true"-->
          <readerQuotas maxDepth="256" maxStringContentLength="655360000" maxArrayLength="655360000"/>
          <security mode="None">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
      <customBinding>
        <binding name="GZipMessageEncodingBindingText">
          <wcfCompressMessageEncoding innerMessageEncoding="textMessageEncoding"/>
          <httpTransport />
        </binding>
        <binding name="GZipMessageEncodingBindingBinary">
          <wcfCompressMessageEncoding innerMessageEncoding="binaryMessageEncoding"/>
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <services>
      <service name="WcfCompressMessageEncoder.ConsoleTest.Service">
        <endpoint binding="wsHttpBinding" bindingConfiguration="WsHttpBinding" contract="WcfCompressMessageEncoder.ConsoleTest.IService" />
        <endpoint binding="customBinding" bindingConfiguration="GZipMessageEncodingBindingText" contract="WcfCompressMessageEncoder.ConsoleTest.IService" address="/GzipText" />
        <endpoint binding="customBinding" bindingConfiguration="GZipMessageEncodingBindingBinary" contract="WcfCompressMessageEncoder.ConsoleTest.IService" address="/GzipBinary" />
        <host>
          <baseAddresses>
            <add baseAddress="http://pbalas:8002/WcfCompressMessageEncoder.Service" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>